<h2>Current Homes Needing Repair</h2>

<p><%= link_to "Add A New Address", new_house_path %></p>

<ul>
  <% House.all.each do |house| %>
    <li><%= link_to house.address, house_path(house) %></li>
    <ol>
      <% house.projects.each do |project| %>
        <li><%= link_to project.name, project_path(project.id) %></li>
      <% end %>
    </ol>
  <% end %>
</ul>
