<h1>Home Improvement</h1>

<p><%= link_to "Add A New Address", new_house_path %></p>
  <center><%= image_tag("splash.jpg", alt: "Home Improvement") %></center>
<ul>
  <% House.all.each do |house| %>
    <li><%= link_to house.address, house_path(house) %></li>
    <ul>
      <% house.projects.each do |project| %>
        <li><%= link_to project.name, project_path(project.id) %></li>
      <% end %>
    </ul>
  <% end %>
</ul>
