<h2>Add A New Project</h2>

<%= form_for @project do |f|%>
  Name: <%= f.text_field :name %>
  <%= render  partial: 'project', :locals=>{:f => f} %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".js-materials").on("click", function() {
        event.preventDefault();
        var materialID = $(this).data("id");
        var materialForm = $('<form></form"');
        materialForm.append('<input type="text" value="name" id="project_materials_name"></input>');
        materialForm.append('<input type="text" value="0" id="project_materials_quantity_on_hand"')
        debugger;
        $('#material-' + materialID).append(materialForm);
      });
    });
</script>
