<h2><%= @project.name %></h2>
<h3><%= @project.house.address%></h3>

<ul>
  <% @project.items.each do |item| %>
    <li><%= material_lookup(item) %></li>
  <% end %>
</ul>
<% binding.pry%>
<p><%= link_to "Update Items List", project_items_path(@project) %></p>
