<h3>Materials List</h3>

<div id="materials">
</div>

<%= link_to "Add New Materials", new_material_path %>

<script type="text/javascript" charset="utf-8">
  $(function() {

    $.getJSON("/materials", function(data) {
      var materialList = "";
      data.forEach(function(material) {
        materialList += '<li><a href=' + "/materials/" + material["id"] + '>' + material["name"] + " - Quantity On Hand " + '</a></li>'
      });

      $("#materials").append(materialList);
    });
  })
</script>
