<h3>Materials List</h3>

<ul>
  <% Material.all.each do |material| %>
    <p><%= link_to material.name, material_path(material)%> quantity on hand: <%= material.quantity_on_hand %></p>
  <% end %>
</ul>

  <p><%= link_to "Add New Materials", new_material_path %></p>
