<h3>Add A New Material</h3>
<div id="materialResult">
  <ul>
    <li><h4 id="materialName"></h4> <p id="materialQuantityOnHand"></p></li>
  </ul>
</div>

<%= render 'form' %>

<script type="text/javascript" charset="utf-8">

$(function () {
  $('.new_material').on("click", function(event) {
    event.preventDefault();
    var values = $(this).serialize();
    var materialID = this.id;

    var material = $.post('/materials', values);
      material.done(function(data) {
        var material = data;
        // $("#materialName").replaceWith(material["name"] + ", Quantity On Hand: " + material["quantity_on_hand"]);
        // $("#materialName").text(material["name"] + ", Quantity On Hand: " + material["quantity_on_hand"]);
        $("#materialName").append("<li id=material-" + materialID +">" + material["name"] + "</li>")

      });
    });
  });
</script>
