<h3>Add A New Material</h3>
<div id="materialResult">
  <h4 id="materialName"></h4> <p id="materialQuantityOnHand"></p>
</div>

<%= render 'form' %>

<script type="text/javascript" charset="utf-8">

$(function () {
  $('form').submit(function(event) {
    event.preventDefault();
    var values = $(this).serialize();
    var material = $.post('/materials', values);
      material.done(function(data) {
        var material = data;
        $("#materialName").text(material["name"] + ", Quantity On Hand: " + material["quantity_on_hand"]);
      });
    });
  });
</script>
