<h3>Add Material(s)</h3>
<div id="materialResult">
  <ul>
    <li><h4 id="materialName"></h4> <p id="materialQuantityOnHand"></p></li>
  </ul>
</div>

<%= render 'form' %>

<script id="material-template" type="text/x-handlebars-template">
  <div class="entry">
    {{#if name}}
    <h4>{{name}} : Quantity on Hand - {{quantity_on_hand}}</h4>
    {{else}}
    {{{alert}}}
    {{/if}}
  </div>
</script>

<script type="text/javascript" charset="utf-8">
$(function () {
  $('.new_material').on("submit", function(event) {
    event.preventDefault();
    var values = $(this).serialize();
    var materialID = this.id;
    var material = $.post('/materials', values);
      material.done(function(data) {
        parseMaterial(data)
      });
      return false; //Super Important! This returns the form submit button to original state by NOT submitting the form. (sounds strange...I know but it works)
    });
  });
</script>
