<form class="new_material" id="new_material" action="/materials" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="7G7GU53n8r2T7pub11ALKveqLEa+/HVdSkjHR7+CyO7sWrqaaHioOEmCieKnkKu9rIhWtsAgKoZBjkXcsUWIQg==">
  <p>


    <label for="material_Name">Name</label>
    <input type="text" name="material[name]" id="material_name">
    <label for="material_Quantity On Hand">Quantity on hand</label>
    <input min="0" placeholder="0" type="number" value="0" name="material[quantity_on_hand]" id="material_quantity_on_hand">
  </p>
  <input type="submit" name="commit" value="Create Material" data-disable-with="Create Material">
</form>
