<footer class="footer">
  <br></br>
  <nav>
    <ul>
      <% if !!current_user %>
        <%= link_to("Home", houses_path) %> |
        <%= link_to "Materials on hand", materials_path %> |
        <%= link_to("Insufficient quantity", insufficient_quantity_path )%>
      <% end %>
    </ul>
  </nav>

  <small>
    Made possible through Flatiron learning wizardy
  </small>

</footer>
