<footer class="footer">
  <br></br>
  <nav>
    <% if !!current_user %>
      <p>Currently logged in as: <%= current_user.email %> |
        <%= link_to("Sign out", destroy_user_session_path, :method => 'delete') %><p>
    <% end %>
  </nav>

  <small>
    Made possible through Flatiron learning wizardy
  </small>

</footer>
