<div class="navbar navbar-fixed-top" style="background-color: #fff5dd" role="navigation">

    <ul>
      <h2>Home Improvement</h2>
      <% if !!current_user %>
        <%= link_to("Home", houses_path) %> |
        <%= link_to "Materials on hand", materials_path, :id => "materials_list"%> |
        <%= link_to("Insufficient quantity", insufficient_quantity_path )%>
      <% end %>
    </ul>

</div>
