<nav class="header">
    <% if !!current_user %>
      <p>Currently logged in as: <%= current_user.email %> |
        <%= link_to("Sign out", destroy_user_session_path, :method => 'delete') %><p>
    <% end %>
    <br></br>
</nav>
